:root.theme-dark {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --bg-decor: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --button-color: #ff0070;
  --link-color: #f1b2ce;
  --link-shadow: #ff0070;
  --nav-color: #ff0070;
  --border-color: #ff0070;
  --title-section: #ff0070;
}

.theme-dark .header__rec {
  display: flex;
  align-items: center;
  gap: 5px;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
