/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --accent-color: #FF8DCB; /* цвет обводки */
    --bg-color: #FFF1F7; /* цвет фона */
    --bg-image: url('../images/cover-image-light.png'); /* фон  тёмной темы */
    --bg-decor: #FF8DCB; /* фон для title-decor */
    --ht-color: #FFC2E6; /* цвет  no focus*/
    --text-color: #353430; /* цвет текста */
    --button-color: #353430;
}

.theme-light .header__rec {
    display: none;

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
.