:root.theme-light {
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --bg-decor: #ff8dcb;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --button-color: #353430;
  --link-color: #353430;
  --link-shadow:#FF8DCB;
}

.theme-light .header__rec {
  display: none;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
