/* Утилитарные */
.heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

/* Декоративная зона */
.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 10px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--title-section);
  border-right: 1px solid var(--title-section);

  @media (width >= 768px) {
    top: 20px;
    right: 20px;
  }
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--title-section);
  border-left: 1px solid var(--title-section);

  @media (width >= 768px) {
    bottom: 20px;
    left: 20px;
  }
}

/* Основные стили страницы */
.page {
  background-color: var(--bg-color), #000028, #fff1f7;
  color: var(--text-color);
  font-family: var(--main-font), monospace;
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Стили шапки */
.header {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr min-content 1fr;
  place-items: center;
  grid-template-columns: 1fr;
  padding: 10px;
  min-block-size: 668px;
  position: relative;

  @media (width >= 768px) {
    padding: 20px;
  }
}

.header__title {
  display: grid;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  margin: 0;

  @media (width >= 768px) {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: flex-start;
    margin-left: -20px;
  }
}

.header__subtitle {
  display: grid;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  justify-self: center;
  inline-size: 100%;

  @media (width >= 768px) {
    width: 50%;
    justify-self: right;
  }
}

.header__rec {
  position: absolute;
  justify-self: end;
  top: 10px;
  right: 17px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;

  @media (width >= 768px) {
    top: 20px;
    right: 27px;
  }
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

/* Меню тем в шапке */
.header__theme-menu {
  color: var(--bg-decor);
  place-self: center end;

  @media (width >= 1024px) {
    place-self: start center;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  list-style: none;

  @media (width >= 1024px) {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  color: var(--button-color);
  font-size: 18px;
  cursor: pointer;
  text-transform: lowercase;
  font-weight: 400;
  line-height: 18px;
  position: relative;
  padding: 1px 12px 5px 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color-opacity);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.header__theme-menu-button--active {
  pointer-events: none;
  border: 1px solid currentcolor;
}

/* Декоративные элементы заголовка */
.title-decor {
  color: var(--bg-color);
  background-color: var(--bg-decor);
}

/* Стили ссылок */
.links {
  color: var(--link-color);
  text-shadow: 2px 1px 0 var(--link-shadow);
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}

.links:focus {
  outline: none;
}

.links:focus:focus-visible {
  outline: 1px solid var(--link-color);
}

/* Стили контентной секции */
.content-section {
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;

  @media (width >= 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  @media (width >= 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.text-blocks {
  display: grid;
  gap: 20px;

  @media (width >= 1024px) {
    grid-column: span 2;
  }
}

.text-block {
  display: grid;
}

.content-section__title {
  color: var(--title-section);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}

.text-block__title {
  margin-bottom: 10px;
}

.text-block__title--margin-flush {
  margin-bottom: 0;
}

.text-block__subtitle {
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
}

.text-block__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Основной контент */
.content {
  margin-top: 30px;
  display: grid;
  gap: 50px;
  padding: 10px;

  @media (width >= 768px) {
    padding: 20px;
    margin-top: 40px;
    gap: 80px;
  }
}

/* Стили секции причин */
.causes {
  .content-section__title {
    grid-column: 1/-1;

    @media (width >= 768px) {
      max-width: 236px;
    }

    @media (width >= 1024px) {
      max-width: 270px;
    }
  }

  .text-blocks {
    grid-column: 1/-1;
    align-items: start;

    @media (width >= 1024px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}

/* Стили галереи */
.gallery {
  display: grid;
  gap: 10px;

  @media (width >= 768px) {
    gap: 20px;
  }
}

.gallery__title {
  font-size: 18px;
  font-weight: bold;
}

.gallery__images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  margin-block-start: 10px;

  @media (width >= 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin-block-start: 20px;
  }
}

.gallery__images img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  @media (width >= 768px) {
    height: 100%;
  }
}

/* Стили футера */
.footer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 0 10px;
  min-block-size: 668px;

  @media (width >= 768px) {
    margin-top: 40px;
  }
}

.footer__title {
  font-size: var(--main-font-size);
  color: var(--title-color);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);

  @media (width >= 768px) {
    font-size: clamp(7.5rem, 0.563rem + 14.453vw, 15rem);
  }
}

/* Медиа-запросы для галереи я */
@media (width >= 768px) {
  .sunset {
    display: grid;
    grid-column: 1 / 3;
  }

  .ice {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .book {
    grid-column: 2 / 2;
  }

  .street {
    grid-column: 2 / 4;
  }
}
